body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  .field {
    position: relative;
    width: 100vw;
    height: 46.25vw; /* Maintain soccer field's aspect ratio (16:9) */
	background-image: url("/assets/img/Soccer_field.png");
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    overflow: hidden;
  }

  .player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }

  *{
	margin: 0;
	padding: 0;
}
nav a{
	color: black;
	padding: 21px;
	margin-right: -3px;
	font-size: 17px;
	transition: all .30s linear;
}
nav a:hover{
	color: #000000;
	text-decoration: none;
}

.navbar-text {
	margin-top: 10px;
	font-size: 20px;
}
.navbar-text:hover{
  font-weight: bold;
  text-decoration: underline;
}

.title h1{
	font-size: 60px;
	font-weight: 900;
}

.title h5{
	font-family: 'Times New Roman', Times, serif;
	font-style: oblique;
}

.quote > p {
    line-height: 1.4em;
}

.quote {
	font-family: "Big Caslon";
    position: relative;
    letter-spacing: .03em;
    margin-bottom: .5rem;
    
    &:before {
        content: "“";
        position: absolute;
        left: -.7em;
    }
    
    &:after {
        content: "”";
        margin-right: -1rem;
    }
}

.quote--container {
    margin: 4.5rem auto 0;
    width: 50%;
    border-bottom: 2px dotted #C6D1BF;
    padding-bottom: .5rem;
}

.quote--highlight {
    color: #D24335;
}

.quote--author {
    font-family: 'Open Sans Condensed';
    font-size: 1.5rem;
    text-align: right;
    font-weight: 300;
}

.quote-text {
	font-size: 50px;
}
